:root {
    --fond-principal: #101010;
    --fond-secondaire: #151515;
    --texte: white;
}

body {
    margin: 0;
    width: 100%;
    color: var(--texte);
}

header {
    background-color: var(--fond-secondaire);
    padding-block: 1%;
    padding-inline: 0.75%;
    display: flex;
    gap: 5%;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: var(--fond-principal);
    padding: 1.5%
}

main p {
    width: 50%;
    margin-block: 0.25%;
    padding: 0.5%;
    font-size: small;
}

main p:hover {
    border: 0.05rem solid var(--texte);
    cursor: pointer;
}
main p:active {
    background-color: rgba(255,255,255, 0.5);
}

footer {
    background-color: var(--fond-secondaire);
    padding-block: 1%;
    padding-inline: 0.75%;
    display: flex;
    gap: 10%;
    font-family: 'Courier New', Courier, monospace;
}